<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>One of four</title>
    <link rel="stylesheet" th:href="@{/css/fourWords.css}"/>
</head>
<body>
<div>
    <span class="button questions" th:text="${wordsDto.getForeign()}"></span><br>

    <a class="option-button answers" href="/fourWords/checkFT?option=0">
        <span th:text="${wordsDto.getOptions().get(0)}"></span>
    </a><br>
    <a class="option-button answers" href="/fourWords/checkFT?option=1">
        <span th:text="${wordsDto.getOptions().get(1)}"></span>
    </a><br>
    <a class="option-button answers" href="/fourWords/checkFT?option=2">
        <span th:text="${wordsDto.getOptions().get(2)}"></span>
    </a><br>
    <a class="option-button answers" href="/fourWords/checkFT?option=3">
        <span th:text="${wordsDto.getOptions().get(3)}"></span>
    </a><br>
    <a class="button options" href="/fourWords/FT">next -></a><br/>
    <a class="nav" href="/">main menu</a>
    <a class="nav" href="/fourWords/TF">switch lang</a>
</div>
<div>
    <h2>
        <span class="info" th:if="${info != null}" th:text="'Info: ' + ${info}"></span>
    </h2>
</div>
</body>
</html>