<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Word adder</title>
    <link rel="stylesheet" th:href="@{/css/word.css}"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/word}" th:object="${word}" method="post">
    <p>Foreign: <label>
        <input type="text" th:field="*{foreign}"/>
    </label></p>
    <p>Translation: <label>
        <input type="text" th:field="*{translation}"/>
    </label></p>
    <p><input type="submit" value="Add"/> <input type="reset" value="Reset"/></p>
</form>
<div>
    <h2>
        <span th:if="${info != null}" th:text="'Info: ' + ${info}"></span>
    </h2>
</div>
</body>
</html>